<script src="./app.js"> </script>
<footer>
    <section class="footer-container">
      <nav class="footer-nav">
        <div class="footer-li">
          <ul class="navBar-ul-footer">
            <li class="navBarFooter-li">
              <a href="./shop">SHOP</a>
            </li>
            <li class="navBarFooter-li">
              <a href="">REGISTRARSE</a>
            </li>
            <li class="navBarFooter-li">
              <a href="">LOGIN</a>
            </li>
            <li class="navBarFooter-li">
              <a href="">CONTACTO</a>
            </li>
          </ul>
        </div>
        <div class="footer-logo">
          <a href="/home"><img src="/assets/branding/isotype.svg"></a>
        </div>
      </nav>
      <p class="footer-p">All rights reserved 2023 - Funkoshop @copyright</p>
    </section>
  </footer>
