<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
<body> 
  <%- include ('../partials/header') %>
  <main>
    <section class="banner">
      <div class="banner-hero row justify-content-center d-flex">
        <div class="text-banner col">
          <h3 class="new-arrivals text-center">Nuevos ingresos</h3>
          <p class="text-arrivals text-center">Descubrí el próximo Funko Pop de tu colección</p>
          <div class="text-center">
              <a class="btn btn-secondary" href="/shop">SHOP</a>
          </div>
        </div>
      </div>
    </section>
    <section class="products-container">
      <div class="product-card-container">
        <div class="product-card-right">
          <h3 class="product-card-name">STARWARS & <br> THE MANDALORIAN</h3>
          <p class="product-card-description"> Disfruta de una saga que sigue <br> agregando personajes a su colección
          </p>
          <a href="/shop"><button class="cart-button2">Ver colección</button></a>
        </div>
        <picture>
          <img src="./assets/star-wars/baby-yoda-1.webp" alt="funko baby yoda" class="img-product-card">
        </picture>
      </div>
      <div class="product-card-container">
        <picture>
          <img src="./assets/pokemon/vulpix-1.webp" alt="funko vulpix" class="img-product-card">
        </picture>
        <div class="product-card-left">
          <h3 class="product-card-name">POKEMON INDIGO</h3>
          <p class="product-card-description">Atrapa todos los que puedas y disfruta <br> de una colección llena de
            amigos</p>
          <a href="/shop"><button class="cart-button2">Ver colección</button></a>
        </div>
      </div>
      <div class="product-card-container">
        <div class="product-card-right">
          <h3 class="product-card-name">SNAPE PATRONUS</h3>
          <p class="product-card-description"> Revive los recuerdos de una saga llena <br> de magia y encanto.</p>
          <a href="./shop"><button class="cart-button2">Ver colección</button></a>
        </div>
        <picture>
          <img src="./assets/harry-potter/snape-patronus-1.webp" alt="funko patronus snape" class="img-product-card">
        </picture>
      </div>
    </section>
    <section class="">
      <div class="container">
        <h2 class="text-center">ULTIMOS LANZAMIENTOS</h2>
        <div class=" row justify-content-center d-flex  ">
          <div class="shop-product-card col">
            <a href="/shop" class="a-card">
              <picture>
                <img src="./assets/star-wars/trooper-1.webp" alt="funko stormtrooper" class="img-funko" />
                <!--  SEGUNDA IMAGEN PARA EL SLIDER -->
              </picture>
              <div class="shop-product-description">
                <p class="shop-product-license">STAR WARS</p>
                <h4 class="shop-product-name">STORMTROOPER LIGHTSABER</h4>
                <p class="shop-product-price">$1799,99</p>
                <p class="shop-product-installments">3 CUOTAS SIN INTERES</p>
              </div>
            </a>
          </div>
          <div class="shop-product-card col">
            <a href="/shop" class="a-card">
              <picture>
                <img src="./assets/pokemon/pidgeotto-1.webp" alt="funko pidgeotto" class="img-funko" />
                <!--  SEGUNDA IMAGEN PARA EL SLIDER -->
              </picture>
              <div class="shop-product-description">
                <p class="shop-product-license">POKEMON</p>
                <h4 class="shop-product-name">PIDGEOTTO</h4>
                <p class="shop-product-price">$1799,99</p>
                <p class="shop-product-installments">3 CUOTAS SIN INTERES</p>
              </div>
            </a>
          </div>
          <div class="shop-product-card col">
            <a href="/shop" class="a-card">
              <picture>
                <img src="./assets/harry-potter/luna-1.webp" alt="funko luna lovegood" class="img-funko" />
                <!--  SEGUNDA IMAGEN PARA EL SLIDER -->
              </picture>
              <div class="shop-product-description">
                <p class="shop-product-license">HARRY POTTER</p>
                <h4 class="shop-product-name">LUNA LOVEGOOD</h4>
                <p class="shop-product-price">$1799,99</p>
                <p class="shop-product-installments">3 CUOTAS SIN INTERES</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include ('../partials/footer') %>
</body>

</html>