<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    <div class="text-center width-100">
        <h1 class="mb-4">Ups, no existe esta sección... ¡todavía!</h1>
        <p>La página que buscas no se ha encontrado. Puede ser que la dirección no sea correcta o que la página haya sido movida o eliminada.</p>
        <a href="/home" class="btn btn-primary mt-3">Volver a la página principal</a>
    </div>
    <%- include ('../partials/footer') %>
</body>
</html>
